.movies-card-list {
    margin: 78px auto 75px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(201px, 1fr));
    column-gap: 30px;
    row-gap: 58px;
}

.card-list__else {
    margin: 50px auto 0;
    border: none;
    width: 320px;
    height: 32px;
    line-height: 32px;
    font-weight: 500;
    font-size: 12px;
    color: white;
    background-color: #2F2F2F;
    border-radius: 6px;
    display: block;
    transition: opacity .3s ease-in-out;
}

.movies__more-btn {
    margin: 50px auto 160px;
    width: 320px;
    height: 36px;
    border-radius: 6px;
    background-color: inherit;
    border: 1px solid #424242;
    color: #ffffff;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.21;
}

.movies__more-btn:hover {
    cursor: pointer;
    opacity: 0.5;
}

@media (max-width: 1279px) and (min-width: 768px) {
    .movies-card-list {
        margin-top: 79px;
        margin-bottom: 256px;
        row-gap: 45px;
        grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(190px, 1fr));
        justify-items: center;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .movies-card-list {
        margin-top: 40px;
        margin-bottom: 60px;
        gap: 38px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        justify-items: center;
    }
    .movies__more-btn {
        max-width: 240px;
    }
}