.movies-card {
    max-width: 360px;
    position: relative;
}

.movies-card:hover {
    cursor: pointer;
}

.movies-card__save-btn {
    position: absolute;
    width: 72px;
    height: 21px;
    top: 14px;
    right: 14px;
    border: none;
    border-radius: 30px;
    background-color: #313131;
    z-index: 1;
    cursor: pointer;
    padding: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 0.9;
    text-align: center;
    color: #ffffff;
}

.movies-card__save-btn:hover {
    opacity: 0.8;
}

.movies-card__img {
    cursor: pointer;
    width: 100%;
    height: 201px;
    border-radius: 5px;
    display: block;
    object-fit: cover;
}

.movies-card__subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 14px 14px 0;
}

.movies-card__subtitle-title {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.21;
    width: 250px;
    margin: 0;
}

.movies-card__subtitle-duration {
    font-weight: 400;
    font-size: 11px;
    line-height: 0.9091;
    text-align: center;
    background-color: #2F2F2F;
    border-radius: 3px;
    color: #8B8B8B;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
}

@media (max-width: 1279px) and (min-width: 768px) {

    .movies-card {
        width: 339px;
    }

    .movies-card__subtitle {
        margin: 25px 0 0;
    }

    .movies-card__img {
        height: 190px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {

    .movies-card {
        width: calc(300px + (339 - 300) * (100wv - 320px) / (767 - 320));
    }

    .movies-card__img {
        height: 168px;
    }

    .movies-card__save-btn {
        top: 10px;
        right: 10px;
        width: 72px;
        height: 21px;
        font-size: 10px;
        line-height: 0.9;
    }

    .movies-card__subtitle {
        margin: 15px 0 0;
        width: 300px;
    }

    .movies-card__subtitle-title {
        font-size: 12px;
        line-height: 1.21;
    }
}