.movies {
    margin: 0 70px;
}

.movies__more-btn {
    margin: 50px auto 160px;
    width: 320px;
    height: 36px;
    border-radius: 6px;
    background-color: inherit;
    border: 1px solid #424242;
    color: #ffffff;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.21;
}

.movies__more-btn:hover {
    cursor: pointer;
    opacity: 0.5;
}

@media (max-width: 1279px) and (min-width: 768px) {
    .movies {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: calc(30px + (70 - 30) * (100vw - 768px) / (1279 - 768));
        margin-right: calc(30px + (70 - 30) * (100vw - 768px) / (1279 - 768));
    };
}

@media (max-width: 767px) and (min-width: 320px) {
    .movies {
        margin: 0 10px;
    }

    .movies__more-btn {
        max-width: 240px;
    }
}