.movies {
    margin: 0 70px;
}

.movies__more-btn {
    margin: 78px auto 160px;
    width: 320px;
    height: 36px;
    border-radius: 6px;
    background-color: inherit;
    border: 1px solid #424242;
    color: #ffffff;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.21;
}

@media (max-width: 1279px) and (min-width: 768px) {
    .movies {
        margin: 0 30px;
    };
}

@media (max-width: 767px) and (min-width: 320px) {
    .movies {
        margin: 0 10px;
    }

    .movies__more-btn {
        max-width: 240px;
    }
}