.profile {
    margin: 90px auto 70px;
    max-width: 410px;
}

.profile__content {
    width: 410px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__header {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2104;
    text-align: center;
    margin: 0 auto 123px;
}

.profile__form {
    width: 100%;
    margin-top: 107px;
    text-align: center;
}

.profile__form-item {
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-weight: 500;
    font-size: 11px;
    line-height: 46px;
    width: 100%;
    border-bottom: 1px solid #424242;
    position: relative;
}

.profile__about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile__about-text {
    font-weight: 500;
    font-size: 11px;
    line-height: 1.21;
    margin: 0;
}

.profile__line {
    border: 1px solid #424242;
    margin: 16px auto 17px;
}

.profile__input {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 11px;
    font-weight: 400;
    text-align: right;
    color: #FFFFFF;
    outline: none;
}

.profile__input-error {
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    margin: 0;
    position: absolute;
    top: 48px;
    right: 0;
    display: block;
    z-index: 2;
}

.profile__message {
    font-size: 13px;
    line-height: 16px;
    margin-top: 20px;
    color: #3DDC84;;
}

.profile__edit {
    margin: 220px auto 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.21;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #FFF;
}

.profile__edit:hover {
    cursor: pointer;
    opacity: 0.5;
}

.profile__edit_disabled {
    color: #8B8B8B;
}   

.profile__logout {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.21;
    text-align: center;
    color: #EE3465;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

@media (max-width: 1279px) and (min-width: 768px) {
    .profile {
        margin: 250px auto 269px;
    }

    .profile__header {
        margin: 0 auto 96px;
    }

    .profile__edit {
        margin: 210px auto 17px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .profile {
        margin-top: 85px;
        margin-bottom: 40px;
        margin-left: calc(30px + (179 - 30) * (100vw - 320px) / (767 - 320));
        margin-right: calc(30px + (179 - 30) * (100vw - 320px) / (767 - 320));
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile__content {
        width: 260px;
    }

    .profile__header {
        margin: 0 auto 80px;
    }

    .profile__edit {
        margin: 379px auto 16px;
        font-size: 12px;
        line-height: 1.21;
    }

    .profile__logout {
        font-size: 12px;
        line-height: 1.21;
    }
}