.promo {
    margin: 34px 40px 0;
    background-color: #272727;
    width: 1200px;
    height: 493px;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.16;
    letter-spacing: -2px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.promo__text {
    width: 730px;
    margin-top: 160px;
}

@media (max-width: 1279px) and (min-width: 768px) {
    .promo {
        width: 728px;
        margin: 35px auto 0;
        height: 834px;
        font-size: 40px;
        line-height: 1.3;
    }

    .promo__text {
        max-width: 680px;
        margin-top: 350px;
        letter-spacing: -1.5px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .promo {
        margin: 28px auto 0;
        width: 292px;
        height: 586px;
        font-size: 29px;
        line-height: 1.2758;
    }

    .promo__text {
        margin-top: 220px;
        letter-spacing: -1.1px;
    }
}