.promo {
    margin: 34px 40px 0;
    background-color: #272727;
    width: 1200px;
    height: 493px;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.16;
    letter-spacing: -2px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.promo__text {
    width: 730px;
    margin-top: 160px;
}

@media (max-width: 1279px) and (min-width: 768px) {
    .promo {
        width: calc(728px + (1200 - 728) * (100vw - 768px) / (1279 - 768));
        margin-top: 35px;
        margin-bottom: 0;
        margin-left: calc(20px + (40 - 20) * (100vw - 768px) / (1279 - 768));
        margin-right: calc(20px + (40 - 20) * (100vw - 768px) / (1279 - 768));
        height: 834px;
        font-size: 40px;
        line-height: 1.3;
    }

    .promo__text {
        max-width: 680px;
        margin-top: 350px;
        letter-spacing: -1.5px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .promo {
        margin: 28px auto 0;
        width: calc(292px + (728 - 292) * (100vw - 320px) / (767 - 320));
        height: 586px;
        font-size: 29px;
        line-height: 1.2758;
    }

    .promo__text {
        margin-top: 220px;
        letter-spacing: -1.1px;
    }
}