.search-form {
    margin: 0;
}

.search-form__container {
    margin: 100px auto 28px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.search-form__container_input {
    border: none;
    border-radius: 8px;
    background-color: #2F2F2F;
    padding: 16px 20px;
    width: 1046px;
    color: #8B8B8B;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2857;
}

.search-form__container_button {
    background-color: inherit;
    border: none;
    width: 44px;
    height: 44px;
    padding: 0;
}

.search-form__switch {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    height: 18px;
}

.search-form__line {
    border: 1px solid #424242;
    margin: 40px auto 10px;
}

@media (max-width: 1279px) and (min-width: 768px) {
    .search-form__container {
        margin: 95px auto 40px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .search-form {
        margin: 0 4px 0;
    }

    .search-form__container_input {
        padding: 13px 13px;
    }

    .search-form__switch {
        font-size: 11px;
        line-height: 1.6363;
        gap: 13px;
    }

    .search-form__container {
        margin-bottom: 46px;
    }

    .search-form__line {
        margin-bottom: 48px;
    }
}