.header__logo {
    width: 38px;
    height: 38px;
}

.header__logo-link:hover {
    opacity: 0.5;
}

.header {
    display: flex;
    flex-direction: row;
    margin: 18px 70px;
    align-items: center;
    max-width: 1140px;
    justify-content: space-between;
}

.header__navigation {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.3846;
    margin-left: 426px;
    visibility: visible;
}

.header__navigation-button {
    border: none;
    background-color: inherit;
    color: #ffffff;
    padding: 0;
    text-decoration: none;
}

.header__navigation-button:hover {
    color: #808080;
    cursor: pointer;
}

.header__saved-movies {
    width: 142px;
}

.header__button {
    display: inline-block;
    background-color: #313131;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 32px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    margin-left: 364px;
    visibility: visible;
    text-decoration: none;
    text-align: center;
}

.header__button:hover {
    cursor: pointer;
    color: #808080;
}

.header__auth {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333;
    align-items: center;
}

.header__auth_signin {
    background-color: #3DDC84;
    border: none;
    border-radius: 3px;
    width: 76px;
    height: 32px;
}

.header__auth_signup {
    background-color: inherit;
    border: none;
    color: #ffffff;
    width: 77px;
    height: 16px;
    padding: 0;
}

.header__burger {
    height: 44px;
    width: 44px;
    display: none;
}

.h {
    display: block;
}

@media (max-width: 1279px) and (min-width: 769px) {
    .header {
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: calc(30px + (70 - 30) * (100vw - 769px) / (1279 - 769));
        margin-right: calc(30px + (70 - 30) * (100vw - 769px) / (1279 - 769));
    }

    .header__navigation {
        margin-left: calc(220px + (426 - 220) * (100vw - 769px) / (1279 - 769));
    }

    .header__button {
        margin-left: calc(140px + (364 - 140) * (100vw - 769px) / (1279 - 769));
    }
}

@media (max-width: 768px) and (min-width: 320px) {
    .header {
        margin: 18px 14px;
    }

    .h {
        display: none;
    }

    .header__navigation {
        display: none;
    }

    .header__burger {
        display: block;
        width: 39px;
        height: 39px;
    }

    .header__auth {
        font-size: 10px;
        line-height: 1.6;
        gap: 14px;
    }

    .header__auth_signup {
        width: 64px;
        height: 16px;
    }

    .header__auth_signin {
        width: 54px;
        height: 26px;
    }

    .header__burger {
        visibility: visible;
    }
}