.about-project {
    margin: 0 70px;
}

.about-project__header {
    margin-top: 140px;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.2104;
    letter-spacing: -1px;
    padding-bottom: 23px;
    border-bottom: 1px solid #DADADA;;
}

.about-project__info {
    margin-top: 70px;
    margin-bottom: 110px;
    display: grid;
    grid-template-columns: 550px 550px;
    grid-column-gap: 40px;
    grid-row-gap: 26px;
    justify-content: center;
}

.about-project___info_title {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.21;
    letter-spacing: -0.8px;
}

.about-project__info_subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4286;
}

.about-project__scale {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 36px 17px;
    grid-row-gap: 14px;
    margin-bottom: 110px;
}

.about-project__scale_week-one {
    background-color: #3DDC84;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.about-project__scale_week-four {
    background-color: #303030;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.about-project__scale_subtitle {
    margin: 0;
    color: #8B8B8B;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2143;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1279px) and (min-width: 768px) {
    .about-project {
        margin: 0 50px;
        width: calc(100% - 50 * 2);
    }

    .about-project__header {
        margin-top: 118px;
    }

    .about-project__info {
        margin-bottom: 93px;
        grid-template-columns: 319px 319px;
        grid-column-gap: 30px;
        grid-row-gap: 22px;
        width: calc(100% - 50 * 2);
    }

    .about-project__info_subtitle {
        font-size: 12px;
        line-height: 1.5;
    }

    .about-project__scale_week-one {
        width: calc(140px + (228 - 140) * (100vw - 768px) / (1279 - 768));
    }

    .about-project__scale {
        margin-bottom: 90px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .about-project {
        margin: 0 18px;
    }

    .about-project__header {
        margin-top: 87px;
        font-size: 18px;
        line-height: 1.21;
        letter-spacing: -0.7px;
        padding-bottom: 28px;
    }

    .about-project__info {
        grid-template-columns: 284px;
        grid-column-end: 5;
        row-gap: 16px;
        margin: 0 auto;
    }

    .about-project__stages {
        grid-row: 1;
        letter-spacing: -0.7px;
    }

    .about-project__weeks {
        grid-row: 3;
        margin-top: 40px;
        letter-spacing: -0.7px;
    }

    .about-project__plan {
        grid-row: 2;
        font-size: 11px;
        line-height: 1.4545;
    }

    .about-project__dedlines {
        grid-row: 4;
        font-size: 11px;
        line-height: 1.4545;
    }

    .about-project___info_title {
        font-size: 18px;
        line-height: 1.21;
    }

    .about-project__info {
        width: 284px;
        margin-bottom: 60px;
        margin-top: 60px;
    }

    .about-project__scale_week-one {
        font-size: 11px;
        line-height: 1.21;
        width: calc(100px + (140 - 100) * (100vw - 320px) / (767 - 320));

    }

    .about-project__scale_week-four {
        font-size: 11px;
        line-height: 1.21;
    }

    .about-project__scale_subtitle {
        font-size: 11px;
        line-height: 1.21;
    }

    .about-project__scale {
        row-gap: 10px;
        grid-template-rows: 35px 14px;
        margin-bottom: 69px;
    }
}   