.register {
    margin: 70px auto;
    max-width: 396px;
}

.register__header {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.register__logo {
    width: 38px;
    height: 38px;
}

.register__message {
    margin: 38px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2104;
}

.register__form {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.register__form-label {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.21;
    color: #8B8B8B;
}

.register__form-input {
    border: none;
    border-radius: 8px;
    background-color: #2F2F2F;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.21;
    height: 46px;
    max-width: 100%;
    margin-bottom: 18px;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
}

.register__form-submit {
    margin: 70px auto 3px;
    background-color: #4285F4;
    border: none;
    border-radius: 3px;
    height: 45px;
    width: 100%;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
}

.register__form-submit:hover {
    cursor: pointer;
    opacity: 0.5;
}

.register__form-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: #8B8B8B;
}

.register__form-span {
    color:#4285F4;
    margin-left: 6px;
    text-decoration: none;
}

.register__form-input-error {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.21;
    margin-top: -8px;
}

.register__form-input-error_active {
    color: #EE3465;
}

@media (max-width: 1279px) and (min-width: 768px) {
    .register {
        margin-top: 232px;
        margin-bottom: 232px;
        margin-left: calc(186px + (442 - 186) * (100vw - 768px) / (1279 - 768));
        margin-right: calc(186px + (442 - 186) * (100vw - 768px) / (1279 - 768));
    }

    .register__message {
        margin-top: 35px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .register {
        margin-top: 56px;
        margin-bottom: 30px;
        margin-left: calc(30px + (186 - 30) * (100vw - 320px) / (767 - 320));
        margin-right: calc(30px + (186 - 30) * (100vw - 320px) / (767 - 320));
    }

    .register__header {
        align-items: center;
    }

    .register__message {
        margin-top: 45px;
        margin-bottom: 80px;
    }

    .register__form-submit {
        margin-top: 157px;
        font-size: 12px;
        line-height: 1.21;
    }

    .register__form-subtitle {
        font-size: 12px;
        line-height: 1.21;
    }
}