.footer {
    margin: 0 70px 20px;
}

.footer__subtitle {
    color: #8B8B8B;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.21;
    text-align: center;
}

.footer__line {
    margin: 18px auto 6px;
    border: 1px solid #424242;
}

.footer__copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__copyright-year {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.21;
}

.footer__copyright-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.footer__copyright-link {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.21;
    background-color: inherit;
    border: none;
    padding: 0;
    color: #FFFFFF;
    text-decoration: none;
}

@media (max-width: 1279px) and (min-width: 768px) {
    .footer {
        margin: 154px 30px 20px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .footer {
        margin: 135px 10px 0;
        width: calc(300px + (708 - 300) * (100vw - 320) / (767 - 320));
    }

    .footer__subtitle {
        font-size: 12px;
        line-height: 1.21;
    }

    .footer__copyright {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    .footer__copyright-links {
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 0;
        gap: 12px;
    }

    .footer__copyright-link {
        font-size: 12px;
        line-height: 1.21;
    }

    .footer__line {
        margin-bottom: 0;
    }

    .footer__copyright-year {
        font-size: 12px;
        line-height: 1.21;
        margin: 0;
    }
}